.editors-picks-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  width: 120px;
  height: 140px;
}

.editor-pick-item-image {
  height: 95px;
  width: 95px;
  border-radius: 6px;
  margin: 4px;
}

.editor-pick-item-name {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin: 4px;
}
