.your-playlist-main-container {
  height: 100vh;
  background-color: #181818;
  overflow: auto;
  border: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-playlist-container {
  margin: 40px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-playlist-name {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 10px 20px 8px;
}

.your-playlist-music-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 5px 15px 5px;
}

ul {
  padding: 0;
}
