.album-display-info {
  width: 220px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 5px 8px 5px;
}

.album-display-image {
  height: 130px;
  width: 130px;
  border-radius: 6px;
  margin: 5px 3px 5px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px;
}

.album-display-name {
  color: #3a5a81;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  margin: 5px 4px 5px 4px;
}

@media (min-width: 476px) {
  .album-display-info {
    width: 240px;
    height: 240px;
  }

  .album-display-image {
    height: 170px;
    width: 170px;
  }

  .album-display-name {
    font-size: 25px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .album-display-info {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 5px 8px 5px;
  }

  .album-display-image {
    height: 180px;
    width: 180px;
    border-radius: 6px;
    margin: 5px 3px 5px 3px;
  }

  .album-display-name {
    font-size: 40px;
    font-weight: 500;
    margin: 5px 4px 20px 10px;
    align-self: flex-end;
  }
}
