.album-display-info {
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 5px 6px 5px;
}

.album-display-image {
  height: 110px;
  width: 110px;
  border-radius: 5px;
  margin: 2px 3px 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 25px 20px 50px;
}

.album-display-name {
  color: #3a5a81;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin: 4px 2px 4px 2px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media (min-width: 476px) {
  .album-display-info {
    width: 220px;
    height: 200px;
  }

  .album-display-image {
    height: 130px;
    width: 130px;
  }

  .album-display-name {
    font-size: 24px;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .album-display-info {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 5px 8px 5px;
  }

  .album-display-image {
    height: 170px;
    width: 170px;
    border-radius: 6px;
    margin: 5px 3px 5px 3px;
  }

  .album-display-name {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin: 5px 4px 20px 10px;
    align-self: flex-end;
    width: 350px;
  }
}
