.new-releases-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px 5px;
  padding: 0px;
  width: 120px;
  height: 120px;
}

.new-release-item-image {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  margin: 3px 2px 3px 2px;
}

.new-release-item-name {
  color: #f8fafc;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin: 3px 2px 3px 2px;
}
