.genre-category-container {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  background-size: cover;
  border: 0px;
  padding: 0px 0px 0px 0px;
}

.category-heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 5px 0px 15px;
}

.genre-list-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: auto;
  margin: 8px 5px 5px 10px;
}

@media (min-width: 768px) {
  .genre-category-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 75px);
    border: 0px;
    position: absolute;
    left: 75px;
    top: 0px;
    margin: 0px 0px 0px 0px;
  }

  .category-heading {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 55px 8px 8px 20px;
  }

  .genre-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
  }
}
