.app-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.app-body {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  width: 100%;
  border: 0px;
  padding: 10px 5px 10px 5px;
  margin: 40px 0px 0px 0px;
}

/* .side-nav-bar {
  height: 100vh;
  width: 20%;
  color: white;
  font-size: 20px;
} */

.container-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin: 25px 8px 8px 15px;
}

.editor-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 5px 0px;
}

.genres-moods-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0px 5px 0px;
}

.new-releases-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0px 5px 0px;
}

.bottom-group {
  display: flex;
  position: fixed;
  border: 1px solid white;
  background-color: white;
  color: black;
  height: 50px;
  width: 100%;
  z-index: 10;
  bottom: 0px;
  padding-left: 10px;
}

.icons {
  font-size: 24px;
}

.buttons-play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.slider {
  width: 100%;
}

.top-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #393b40;
  color: white;
  border: 1px solid white;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  width: 250px;
  height: 25px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 12px;
}

a {
  text-decoration: none;
}

@media (min-width: 476px) {
  .container-name {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 25px 8px 8px 15px;
  }

  .editor-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 7px 0px;
  }

  .genres-moods-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 7px 0px;
  }

  .new-releases-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 7px 0px;
  }
}
