.app-body {
  width: 100%;
  height: 95vh;
}

.playlist-main-container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  overflow: auto;
  border: 0px;
  padding: 10px;
}

.playlist-name {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 10px 20px 8px;
}

.playlist-music-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 5px 15px 5px;
}

ul {
  padding: 0;
}
