.top-nav-bar-container {
  height: 55px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px 6px 0px 6px;
  overflow: hidden;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container {
  background-color: #393b40;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.music-spectrum-img {
  height: 27px;
  width: 80px;
  margin: 5px 8px 5px 0px;
}

.menu-button {
  border: 0;
  background-color: transparent;
  margin: 5px 8px 5px 5px;
}

.menu-icon {
  height: 25px;
  width: 25px;
  color: #ffffff;
}

.close-icon {
  height: 25px;
  width: 25px;
  color: #ffffff;
}

.menu-option {
  height: 20px;
  width: 20px;
  color: #aaaaaa;
  margin: 4px 8px 4px 8px;
}

.active-tab {
  color: #ffffff;
}

@media (min-width: 476px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .music-spectrum-img {
    height: 30px;
    width: 85px;
    margin: 5px 8px 5px 0px;
  }

  .menu-button {
    border: 0;
    background-color: transparent;
    margin: 5px 15px 5px 15px;
  }

  .menu-icon {
    height: 30px;
    width: 30px;
    color: #ffffff;
  }

  .close-icon {
    height: 30px;
    width: 30px;
    color: #ffffff;
  }

  .menu-option {
    height: 27px;
    width: 27px;
    color: #aaaaaa;
    margin: 4px 8px 4px 8px;
  }
}
