.navbar-container {
  height: 55px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  top: 0px;
  padding: 0px 6px 0px 6px;
  overflow: hidden;
}

.side-navbar-container {
  display: none;
}

.top-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-navbar-links {
  background-color: #393b40;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.music-spectrum-img {
  height: 27px;
  width: 80px;
  margin: 5px 8px 5px 0px;
}

.logo-button {
  border: 0;
  background-color: transparent;
  margin: 5px 8px 5px 5px;
}

.menu-button {
  border: 0;
  background-color: transparent;
  margin: 5px 8px 5px 5px;
}

.menu-icon {
  height: 25px;
  width: 25px;
  color: #ffffff;
}

.close-icon {
  height: 25px;
  width: 25px;
  color: #ffffff;
}

.menu-option {
  height: 20px;
  width: 20px;
  color: #aaaaaa;
  margin: 4px 8px 4px 8px;
}

@media (min-width: 476px) {
  .top-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-button {
    border: 0;
    background-color: transparent;
    margin: 5px 8px 5px 5px;
  }

  .music-spectrum-img {
    height: 30px;
    width: 85px;
    margin: 5px 8px 5px 0px;
  }

  .menu-button {
    border: 0;
    background-color: transparent;
    margin: 5px 15px 5px 15px;
  }

  .menu-icon {
    height: 30px;
    width: 30px;
    color: #ffffff;
  }

  .close-icon {
    height: 30px;
    width: 30px;
    color: #ffffff;
  }

  .menu-option {
    height: 27px;
    width: 27px;
    color: #aaaaaa;
    margin: 4px 8px 4px 8px;
  }
}

@media (min-width: 768px) {
  .navbar-container {
    height: 100vh;
    width: 76px;
    background-color: #040306;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding: 0px 6px 0px 6px;
    overflow: hidden;
  }

  .side-navbar-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .side-navbar-links {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .top-navbar-container {
    display: none;
  }

  .top-navbar-links {
    display: none;
  }

  .music-spectrum-img {
    height: 35px;
    width: 68px;
    margin: 3px 1px 3px 1px;
  }

  .logo-button {
    border: 0;
    background-color: transparent;
    margin: 20px 2px 15px 2px;
  }

  .icon-container {
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .active-icon {
    border-left: 4px solid #1ed760;
    border-radius: 6px 0px 0px 6px;
    background-color: #181818;
  }

  .menu-option {
    height: 28px;
    width: 28px;
    color: #aaaaaa;
    margin: 8px 5px 8px 1px;
  }
}
