.music-player-controls {
  display: flex;
  justify-content: center;
  align: center;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 5px;
}

.play-pause-button {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 5px;
}

.play-pause-icon {
  color: #000000;
  height: 36px;
  width: 36px;
}
