.editor-pick-item-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  overflow: auto;
  border: 0px;
  padding: 15px 0px 0px 0px;
}

.specific-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.specific-item-list {
  padding: 0px;
  margin: 5px 0px 60px 0px;
}
