.editor-pick-item-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  overflow: auto;
  border: 0px;
  padding: 15px 0px 0px 0px;
}

.back-arrow-container {
  display: flex;
  align-items: center;
  margin: 5px 10px 5px 10px;
}

.back-button {
  background-color: transparent;
  padding: 0px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.back-arrow {
  color: #ffffff;
  height: 27px;
  width: 27px;
}

.back-text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin: 4px 8px 8px 8px;
}

.specific-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.specific-item-info {
  width: 320px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 6px 5px 6px;
}

.specific-item-image {
  height: 155px;
  width: 155px;
  border-radius: 6px;
  margin: 8px 4px 8px 4px;
}

.specific-item-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  margin: 8px 4px 8px 4px;
}

.specific-item-artist {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 4px 8px 4px;
}

.specific-item-list {
  padding: 0px;
  margin: 5px 0px 60px 0px;
}

a {
  text-decoration: none;
  outline: none;
}

.player-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}

audio::-webkit-media-controls-enclosure {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* We use flex-start here to ensure that the play button is visible even
     * if we are too small to show all controls.
     */
  justify-content: flex-start;
  -webkit-user-select: none;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  height: 30px;
  border-radius: 4px;
  /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
  transition: opacity 0.3s;
}
