.song-item {
  list-style-type: none;
  width: 98%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 7px 2px 7px 3px;
  padding: 2px 4px 2px 4px;
  overflow: hidden;
}

.song-thumbnail {
  height: 40px;
  width: 40px;
  margin: 3px 5px 3px 5px;
  border-radius: 3px;
}

.song-info-md {
  display: flex;
  flex-direction: column;
  width: 270px;
  overflow: hidden;
}

.song-name {
  color: #111a21;
  font-size: 14px;
  font-weight: 400;
  margin: 3px 3px 3px 3px;
  line-height: 18px;
  overflow: hidden;
}

.artists-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 2px 3px 2px;
  overflow: hidden;
}

.song-artist {
  color: #3a5a81;
  font-size: 13px;
  font-weight: 300;
  margin: 2px;
  text-align: left;
  line-height: 14px;
}

.song-duration-md {
  color: #111a21;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin: 4px 8px 4px 6px;
}

.song-duration-lg {
  display: none;
}

.song-duration-lg {
  display: none;
}

.activeClass {
  background-color: #d1dcc6;
  border-radius: 4px;
  border-left: 3px solid #1db954;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 20px 40px;
}

@media (min-width: 476px) {
  .song-item {
    width: 98%;
    height: 55px;
  }

  .song-thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 4px;
  }

  .song-info {
    width: 300px;
  }

  .song-duration-lg {
    display: none;
  }

  .song-duration-lg {
    display: none;
  }

  .song-name {
    font-size: 15px;
  }

  .artists-div {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px 2px 3px 2px;
    overflow: hidden; */
  }

  .song-artist {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
  }

  .song-duration {
    font-size: 15px;
    font-weight: 400;
  }

  .activeClass {
    border-radius: 9px;
    border-left: 5px solid #1db954;
  }
}

@media (min-width: 768px) {
  .song-item {
    list-style-type: none;
    width: 98%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .song-thumbnail {
    display: none;
  }

  .album-thumbnail-lg {
    height: 45px;
    width: 45px;
  }

  .song-info-md {
    display: none;
  }

  .song-info-lg {
    margin: 5px 0px 5px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .table-row {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
  }

  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  td {
    width: 90px;
    overflow: hidden;
    height: 45px;
  }

  .song-duration-lg {
    display: flex;
    color: #111a21;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin: 4px 8px 4px 6px;
  }

  .song-name {
    font-size: 16px;
    font-weight: 400;
    margin: 3px 3px 3px 3px;
    line-height: 18px;
    overflow: hidden;
  }

  .artists-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px 2px 3px 2px;
    overflow: hidden;
  }

  .song-artist {
    font-size: 15px;
    font-weight: 300;
    margin: 2px;
    text-align: left;
    line-height: 14px;
  }

  .song-duration-md {
    display: none;
  }

  .activeClass {
    border-radius: 4px;
    border-left: 3px solid #1db954;
  }
}
