.song-item {
  list-style-type: none;
  width: 95%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6px 8px 6px 8px;
  padding: 4px 8px 4px 8px;
  overflow: hidden;
}

.song-thumbnail {
  height: 55px;
  width: 55px;
  margin: 3px 5px 3px 5px;
}

.song-info {
  display: flex;
  flex-direction: column;
  width: 270px;
  overflow: hidden;
}

.song-name {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  margin: 3px 3px 4px 3px;
  line-height: 18px;
  overflow: hidden;
}

.artists-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 2px 3px 2px;
  overflow: hidden;
}

.song-artist {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 300;
  margin: 2px;
  text-align: left;
  line-height: 13px;
}

.song-duration {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 5px 8px 5px 8px;
}
