.player-container {
  background-color: #eaeaea;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.playlist {
  padding: 20px 0px 45px 0px;
  width: 100%;
  margin: 3px 0px 3px 0px;
  overflow: auto;
}

.music-controls {
  height: 45px;
  width: 100%;
  background-color: #3a5a81;
  border-top: 1px solid #9b9b9b;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.album-img {
  margin: 3px 4px 3px 15px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.album-info {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2px 2px 2px 4px;
}

.album-name {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin: 3px 2px 3px 0px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden !important;
  text-align: left;
  text-overflow: ellipsis;
}

.artist-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 2px 2px 0px;
  overflow: hidden;
}

.artist-name {
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden !important;
  text-align: left;
  text-overflow: ellipsis;
}

.play-pause-button {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 3px;
  margin: 2px 20px 2px 2px;
}

.play-pause-icon {
  color: #ffffff;
  height: 26px;
  width: 26px;
}

@media (min-width: 476px) {
  .playlist-columns {
    display: none;
  }

  .playlist {
    padding: 20px 0px 55px 0px;
  }

  .music-controls {
    height: 50px;
    width: 95%;
  }

  .album-img {
    height: 45px;
    width: 45px;
    border-radius: 4px;
  }

  .album-info {
    width: 300px;
  }

  .album-name {
    font-size: 15px;
    font-weight: 400;
  }

  .artist-name {
    font-size: 14px;
  }

  .play-pause-button {
    padding: 5px;
  }

  .play-pause-icon {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 768px) {
  .player-container {
    padding: 0px 0px 0px 0px;
    position: absolute;
    width: 100%;
  }

  .playlist-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
    left: 75px;
    top: 40px;
    width: calc(100% - 75px);
    height: 93%;
  }

  #columns-row {
    border-bottom: 1px solid #475569;
    height: 45px;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #column-name {
    padding: 2px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    width: 60px;
    text-align: left;
  }

  .playlist {
    padding: 10px 3px 40px 3px;
    width: 98%;
    margin: 20px 3px 60px 3px;
    overflow: auto;
  }

  .music-controls {
    height: 60px;
    width: calc(100% - 75px);
    border-top: 1px solid #9b9b9b;
    padding: 0px 0px 0px 0px;
    position: fixed;
    bottom: 0;
    right: 0px;
    left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .time-update {
    font-size: 14px;
    font-weight: 400;
    margin: 2px;
    white-space: nowrap;
    overflow: hidden !important;
    text-align: left;
    text-overflow: ellipsis;
  }

  .seek-slider {
    width: 35%;
  }

  .album-img {
    margin: 2px;
    height: 55px;
    width: 55px;
    border-radius: 4px;
  }

  .album-info {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2px 2px 2px 2px;
  }

  .album-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin: 2px;
    line-height: 16px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-align: left;
    text-overflow: ellipsis;
  }

  .artist-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
  }

  .artist-name {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-align: left;
    text-overflow: ellipsis;
  }

  .play-pause-button {
    background-color: transparent;
    outline: none;
    border: 0;
    padding: 2px;
    margin: 2px;
  }

  .play-pause-icon {
    color: #ffffff;
    height: 25px;
    width: 25px;
  }

  .volume-icon {
    color: #ffffff;
    height: 20px;
    width: 20px;
  }

  .volume-slider {
    width: 10%;
  }
}
