.player-container {
  background-color: #eaeaea;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.playlist-columns {
  display: none;
} 

table{
  display: none;
} 

.playlist {
  padding: 20px 0px 45px 0px;
  width: 100%;
  margin: 3px 0px 3px 0px;
  overflow: auto;
}

.music-controls {
  height: 45px;
  width: 100%;
  background-color: #3a5a81;
  border-top: 1px solid #9b9b9b;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.album-img {
  margin: 3px 4px 3px 15px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.album-info {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2px 2px 2px 4px;
}

.album-name {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin: 3px 2px 3px 0px;
  line-height: 16px;
  overflow: hidden;
}

.artist-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 2px 2px 0px;
  overflow: hidden;
}

.artist-name {
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
}

.play-pause-button {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 3px;
  margin: 2px 20px 2px 2px;
}

.play-pause-icon {
  color: #ffffff;
  height: 26px;
  width: 26px;
}

@media (min-width: 476px) {
  .playlist-columns {
    display: none;
  }

  .playlist {
    padding: 20px 0px 55px 0px;
  }

  .music-controls {
    height: 50px;
  }

  .album-img {
    height: 45px;
    width: 45px;
    border-radius: 4px;
  }

  .album-info {
    width: 300px;
  }

  .album-name {
    font-size: 15px;
    font-weight: 400;
  }

  .artist-name {
    font-size: 14px;
  }

  .play-pause-button {
    padding: 5px;
  }

  .play-pause-icon {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 768px) {
  .player-container {
    padding: 10px 0px 0px 10px;
    position: absolute;
  }

  .playlist-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
    left: 55px;
    top: 40px;
    width: 93%;
    height: 93%;
  }

  .playlist-columns {
    border-bottom: 1px solid #475569;
    width: 98%;
    height: 45px;
    margin: 5px 0px 5px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


  table{
    display: flex;
} 
  .column-name {
    padding: 3px;
    font-size: 16px;
    font-weight: 400;
    margin: 2px;
  }

  .playlist {
    padding: 10px 3px 40px 3px;
    width: 98%;
    margin: 20px 3px 60px 3px;
    overflow: auto;
  }

  .music-controls {
    height: 70px;
    width: 100%;
    border-top: 1px solid #9b9b9b;
    position: fixed;
    bottom: 0;
    left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .album-img {
    margin: 3px 4px 3px 20px;
    height: 60px;
    width: 60px;
    border-radius: 4px;
  }

  .album-info {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2px 2px 2px 2px;
  }

  .album-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 3px 3px 3px 0px;
    line-height: 18px;
    overflow: hidden;
  }

  .artist-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px 3px 2px 0px;
    overflow: hidden;
  }

  .artist-name {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
  }

  .play-pause-button {
    background-color: transparent;
    outline: none;
    border: 0;
    padding: 3px;
    margin: 2px 20px 2px 2px;
  }

  .play-pause-icon {
    color: #ffffff;
    height: 32px;
    width: 32px;
  }
}
