.genres-moods-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 0px;
  width: 110px;
  height: 105px;
}

.genres-moods-item-image {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  margin: 2px;
}

.genres-moods-item-name {
  color: #f8fafc;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin: 3px 2px 2px 2px;
  width: 105px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media (min-width: 476px) {
  .genres-moods-item {
    width: 120px;
    height: 135px;
  }

  .genres-moods-item-image {
    height: 90px;
    width: 90px;
    border-radius: 6px;
    margin: 2px;
  }

  .genres-moods-item-name {
    color: #f8fafc;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 2px 1px 2px 1px;
  }
}

@media (min-width: 768px) {
  .genres-moods-item {
    width: 160px;
    height: 170px;
    margin: 6px;
  }

  .genres-moods-item-image {
    height: 130px;
    width: 130px;
    border-radius: 6px;
    margin: 2px;
  }

  .genres-moods-item-name {
    color: #f8fafc;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin: 7px 1px 2px 1px;
  }
}
