.back-arrow-container {
  display: flex;
  align-items: center;
  margin: 5px 7px 15px 20px;
}

.back-button {
  background-color: transparent;
  padding: 0px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.back-arrow {
  color: #ffffff;
  height: 27px;
  width: 26px;
  margin: 4px 5px 4px 0px;
}

.back-text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin: 4px 8px 8px 8px;
}
